/*-----------------request an apointment-----------*/
.request h2{
    color: #7CA7AD;
}
.request p{
    text-align: center;
}
.main-request{
    box-shadow: 3px 0 0px 3px rgba(0,0,0,0.1);
    padding: 20px;
}
.request-1{
    padding-left: 25px;
}
.request-1 input{
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 15px;
    align-items: center;
    padding: 12px;
    display: inline;
    margin-right: 20px;
    width: 17%;
}
.request-1 input:hover{
    border:2px solid rgba(0,0,0,0.1);
}
.request-link{
    background: #7CA7AD;
    text-align: center;
    width: 18%;
    padding: 14px;
    color: #fff;
}
.request-2 input{
border: 1px solid gainsboro;
display: inline;
}
.request-img{
    margin-top: 4rem;
}
.request-img img{
    width: 100%;
    height:600px;
}
@media only screen and (max-width:771px){
    .request-1 input:hover{
        border:none;
    }
    .request-1 input{
      margin-top: 1rem;
      padding: 0.5rem;
    
    }
    .request-link{
        margin-top: 1rem;
    padding: 0.5rem;
    }
    .request-2 input:hover{
        border: none;
    }
    .request-img img{
        height: 400px;
    }
}

