*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: uppercase;
font-family: 'Poppins', sans-serif;
}
body{
  background: #efefef;
  color: #000;
  overflow-x: hidden;
}